<!DOCTYPE html>
<html lang="en">
  <!-- begin::Head -->
  <head>
    <meta charset="utf-8" />
    <title>Dashboard Admin</title>
    <meta name="description" content="Latest updates and statistic charts" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: [
            "Poppins:300,400,500,600,700",
            "Roboto:300,400,500,600,700"
          ]
        },
        active: function() {
          sessionStorage.fonts = true;
        }
      });
    </script>

    <!--end::Web font -->

    <!--begin::Global Theme Styles -->

    <link
      href="assets/vendors/base/vendors.bundle.css"
      rel="stylesheet"
      type="text/css"
    />

    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link
      href="assets/demo/default/base/style.bundle.css"
      rel="stylesheet"
      type="text/css"
    />

    <!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Global Theme Styles -->

    <!--begin::Page Vendors Styles -->
    <link
      href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css"
      rel="stylesheet"
      type="text/css"
    />

    <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Page Vendors Styles -->
    <link
      rel="shortcut icon"
      href="assets/demo/default/media/img/logo/favicon.ico"
    />

    <!--begin::Customize Css -->
    <link href="assets/customize.css" rel="stylesheet" type="text/css" />
  </head>

  <!-- end::Head -->

  <!-- begin::Body -->
  <body
    class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"
  >
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
      <!-- BEGIN: Header -->
      <header
        id="m_header"
        class="m-grid__item    m-header "
        m-minimize-offset="200"
        m-minimize-mobile-offset="200"
      >
        <div class="m-container m-container--fluid m-container--full-height">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-light ">
              <div class="m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a href="index.html" class="m-brand__logo-wrapper">
                    <img
                      alt=""
                      src="assets/demo/default/media/img/logo/logo.svg"
                    />
                  </a>
                </div>
                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                  <!-- BEGIN: Left Aside Minimize Toggle -->
                  
                  <a
                    href="javascript:;"
                    id="m_aside_left_minimize_toggle"
                    class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  "
                  >
                    <span></span>
                  </a>

                  <!-- END -->

                  <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                  <a
                    href="javascript:;"
                    id="m_aside_left_offcanvas_toggle"
                    class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block"
                  >
                    <span></span>
                  </a>

                  <!-- END -->

                  <!-- BEGIN: Responsive Header Menu Toggler -->
                  <!--<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
										<span></span>
									</a>-->

                  <!-- END -->

                  <!-- BEGIN: Topbar Toggler -->
                  <a
                    id="m_aside_header_topbar_mobile_toggle"
                    href="javascript:;"
                    class="m-brand__icon m--visible-tablet-and-mobile-inline-block"
                  >
                    <i class="la la-ellipsis-v "></i>
                  </a>

                  <!-- BEGIN: Topbar Toggler -->
                </div>
              </div>
            </div>

            <!-- END: Brand -->
            <div
              class="m-stack__item m-stack__item--fluid m-header-head"
              id="m_header_nav"
            >
              <!-- BEGIN: Topbar -->
              <div
                id="m_header_topbar"
                class="m-topbar m-stack m-stack--ver m-stack--general m-stack--fluid"
              >
                <div class="m-stack__item m-topbar__nav-wrapper">
                  <ul class="m-topbar__nav m-nav m-nav--inline flex">
                    <li id="view-frontend" class="m-nav__item">
                      <a href="#" class="m-menu__link">
                        <!-- <span class=" m-menu__link-text">View Frontend</span> -->
                        <!-- <i class="m-menu__link-icon la la-external-link"></i> -->
                      </a>
                    </li>
                    <li
                      id="avatar"
                      class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                      m-dropdown-toggle="click"
                    >
                      <a href="#" class="m-nav__link m-dropdown__toggle">
                        <span class="m-topbar__username">User</span>
                        <span class="m-topbar__userpic">
                          <img
                            src="assets/app/media/img/users/user4.jpg"
                            class="m--img-rounded m--marginless"
                            alt=""
                          />
                        </span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span
                          class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                        ></span>
                        <div class="m-dropdown__inner">
                          <div
                            class="m-dropdown__header m--align-center"
                            style="background: url(assets/app/media/img/bg/bg-9.jpg); background-size: cover;"
                          >
                            <div class="m-card-user m-card-user--skin-light">
                              <div class="m-card-user__pic">
                                <img
                                  src="assets/app/media/img/users/user4.jpg"
                                  class="m--img-rounded m--marginless"
                                  alt=""
                                />
                              </div>
                              <div class="m-card-user__details">
                                <span
                                  class="m-card-user__name m--font-weight-500"
                                  >User</span
                                >
                                <a href="" class="m-card-user__email m-link"
                                  >User@gmail.com</a
                                >
                              </div>
                            </div>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__section m--hide">
                                  <span class="m-nav__section-text"
                                    >Section</span
                                  >
                                </li>
                                <li class="m-nav__item">
                                  <a href="#!" class="m-nav__link">
                                    <i class="m-nav__link-icon la la-user"></i>
                                    <span class="m-nav__link-text"
                                      >My Profile</span
                                    >
                                  </a>
                                </li>
                                <li class="m-nav__item">
                                  <a href="#!" class="m-nav__link">
                                    <i
                                      class="m-nav__link-icon la la-settings-alt"
                                    ></i>
                                    <span class="m-nav__link-title">
                                      <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text"
                                          >Settings</span
                                        >
                                        <!-- <span class="m-nav__link-badge"
                                          ><span
                                            class="m-badge m-badge--success"
                                            >2</span
                                          ></span
                                        > -->
                                      </span>
                                    </span>
                                  </a>
                                </li>
                                <!-- <li class="m-nav__item">
                                  <a href="#!" class="m-nav__link">
                                    <i
                                      class="m-nav__link-icon la la-comments"
                                    ></i>
                                    <span class="m-nav__link-text"
                                      >Messages</span
                                    >
                                  </a>
                                </li> -->
                                <!-- <li
                                  class="m-nav__separator m-nav__separator--fit"
                                ></li> -->
                                <!-- <li class="m-nav__item">
                                  <a href="#!" class="m-nav__link">
                                    <i
                                      class="m-nav__link-icon la la-question-circle"
                                    ></i>
                                    <span class="m-nav__link-text">FAQ</span>
                                  </a>
                                </li> -->
                                <!-- <li class="m-nav__item">
                                  <a href="#!" class="m-nav__link">
                                    <i
                                      class="m-nav__link-icon la la-life-bouy"
                                    ></i>
                                    <span class="m-nav__link-text"
                                      >Support</span
                                    >
                                  </a>
                                </li> -->
                                <li
                                  class="m-nav__separator m-nav__separator--fit"
                                ></li>
                                <li class="m-nav__item">
                                  <a href="login.html" class="m-nav__link">
                                    <i
                                      class="m-nav__link-icon la la-sign-out"
                                    ></i>
                                    <span class="m-nav__link-text">Logout</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- END: Topbar -->
            </div>
          </div>
        </div>
      </header>

      <!-- END: Header -->

      <!-- begin::Body -->
      <div
        class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"
      >
        <!-- BEGIN: Left Aside -->
        <button
          class="m-aside-left-close  m-aside-left-close--skin-light "
          id="m_aside_left_close_btn"
        >
          <i class="la la-close"></i>
        </button>
        <div
          id="m_aside_left"
          class="m-grid__item	m-aside-left  m-aside-left--skin-light "
        >
          <!-- BEGIN: Aside Menu -->
          
          <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            m-menu-vertical="1"
            m-menu-scrollable="1"
            m-menu-dropdown-timeout="500"
            style="position: relative;"
          >
          
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                
              <li
                class="m-menu__item  m-menu__item--active"
                aria-haspopup="true"
              >
              
                <a href="index.html" class="m-menu__link "
                  ><i class="m-menu__link-icon la la-dashboard"></i
                  ><span class="m-menu__link-title"
                    ><span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">Dashboard</span
                      ><span class="m-menu__link-badge"
                        ></span>       
                      </span
                    ></span
                  ></a
                >
              </li>
              <!-- <li class="m-menu__section ">
                <h4 class="m-menu__section-text">User</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
              </li> -->
              <!-- <li class="m-menu__item" aria-haspopup="true">
                <a href="list.html" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-tags"></i
                  ><span class="m-menu__link-text">Input Data Alumni</span></a
                >
              </li> -->
              <!-- <li class="m-menu__item" aria-haspopup="true">
                <a href="data.html" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-user-plus"></i
                  ><span class="m-menu__link-text"> Data Alumni</span></a
                >
              </li> -->
                <!-- <li class="m-menu__item" aria-haspopup="true">
                    <a href="javascript:;" class="m-menu__link m-menu__toggle"
                    ><i class="m-menu__link-icon la la-bar-chart"></i
                    ><span class="m-menu__link-text">Laporan</span></a
                    >
                </li> -->
              <!-- <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-envelope-o"></i
                  ><span class="m-menu__link-text">Inquiry</span></a
                >
              </li>
              <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-image"></i
                  ><span class="m-menu__link-text">Banner</span></a
                >
              </li>
              <li class="m-menu__section ">
                <h4 class="m-menu__section-text">Template</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
              </li> -->
              <!-- <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-language"></i
                  ><span class="m-menu__link-text">Language File</span></a
                >
              </li>
              <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-gears"></i
                  ><span class="m-menu__link-text">Widget</span></a
                >
              </li>
              <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-flag-o"></i
                  ><span class="m-menu__link-text">Template Preference</span></a
                >
              </li>
              <li class="m-menu__section ">
                <h4 class="m-menu__section-text">Settings</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
              </li>
              <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-sliders"></i
                  ><span class="m-menu__link-text">System Preference</span></a
                >
              </li> -->
              <!-- <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-folder-open"></i
                  ><span class="m-menu__link-text">File Manager</span></a
                >
              </li>
              <li class="m-menu__item" aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-users"></i
                  ><span class="m-menu__link-text">User Manager</span></a
                >
              </li>
              <li class="m-menu__section ">
                <h4 class="m-menu__section-text">Optional</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
              </li> -->
              <!-- <li
                class="m-menu__item  m-menu__item--submenu"
                aria-haspopup="true"
                m-menu-submenu-toggle="hover"
              >
                <a href="javascript:;" class="m-menu__link m-menu__toggle"
                  ><i class="m-menu__link-icon la la-list"></i
                  ><span class="m-menu__link-text">Dropdown Menu</span
                  ><i class="m-menu__ver-arrow la la-angle-right"></i
                ></a>
                <div class="m-menu__submenu ">
                  <span class="m-menu__arrow"></span>
                  <ul class="m-menu__subnav">
                    <li
                      class="m-menu__item  m-menu__item--parent"
                      aria-haspopup="true"
                    >
                      <span class="m-menu__link"
                        ><span class="m-menu__link-text"
                          >Custom Pages</span
                        ></span
                      >
                    </li>
                    <li
                      class="m-menu__item  m-menu__item--submenu"
                      aria-haspopup="true"
                      m-menu-submenu-toggle="hover"
                    >
                      <a href="javascript:;" class="m-menu__link m-menu__toggle"
                        ><i class="m-menu__link-bullet m-menu__link-bullet--dot"
                          ><span></span></i
                        ><span class="m-menu__link-text">Dropdown</span
                        ><i class="m-menu__ver-arrow la la-angle-right"></i
                      ></a>
                      <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 1</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 2</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 3</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 4</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 5</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 6</span
                              ></a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li
                      class="m-menu__item  m-menu__item--submenu"
                      aria-haspopup="true"
                      m-menu-submenu-toggle="hover"
                    >
                      <a href="javascript:;" class="m-menu__link m-menu__toggle"
                        ><i class="m-menu__link-bullet m-menu__link-bullet--dot"
                          ><span></span></i
                        ><span class="m-menu__link-text">Dropdown</span
                        ><i class="m-menu__ver-arrow la la-angle-right"></i
                      ></a>
                      <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 1</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 2</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 3</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 4</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 5</span
                              ></a
                            >
                          </li>
                          <li class="m-menu__item " aria-haspopup="true">
                            <a
                              target="_blank"
                              href="javascript:;"
                              class="m-menu__link "
                              ><i
                                class="m-menu__link-bullet m-menu__link-bullet--dot"
                                ><span></span></i
                              ><span class="m-menu__link-text"
                                >Sub Dropdown - 6</span
                              ></a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>-->
        </div>
          <!-- END: Aside Menu -->
        </div>

        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title ">Dashboard</h3>
              </div>
              <div>
                <span
                  class="m-subheader__daterange"
                  id="m_dashboard_daterangepicker"
                >
                  <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span
                      class="m-subheader__daterange-date m--font-brand"
                    ></span>
                  </span>
                  <a
                    href="#"
                    class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill"
                  >
                    <i class="la la-angle-down"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>


					<!-- END: Subheader -->
					<div class="m-content">
						
              <!-- Begin::Section -->
              <div class="row">
                <div class="col-xl-12">
                  <form class="m-form m-form--state m-form--label-align-left">
                    <div class="m-portlet">
                      <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                              <i class="la la-user-plus"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                              Input Data
                            </h3>
                          </div>
                        </div>
                      </div>
                      
                      <div class="m-portlet__body">
                        <div class="tab-content">
                          <div class="tab-pane active" id="indonesia_content">
                            <div class="row">
                              <div class="col-xl-10 offset-xl-1">
                                <div class="m-form__section m--margin-0">
                                  <div class="m-form__heading">
                                    <h3 class="m-form__heading-title">Input Data Alumni</h3>
                                  </div>
                                  <!-- Body Input -->
                                  <!-- Nisn -->
                                  <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3 mt-4">NISN</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="text" class="form-control m-input" placeholder="" readonly>
                                      <!-- <span class="m-form__help">Silahkan Masukkan Nisn Anda</span> -->
                                    </div>
                                    <label class="form-control-label col-lg-3 mt-4">NIS</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="text" class="form-control m-input" placeholder="" readonly>
                                      <!-- <span class="m-form__help">Silahkan Masukkan Nis Anda</span> -->
                                    </div>
                                  
                                    <!-- Nama -->
                                    <label class="form-control-label col-lg-3 mt-4">Nama</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="text" class="form-control m-input" placeholder="" readonly>
                                    </div>
                                          <!-- Tgl Masuk -->
                                <label class="form-control-label col-lg-3 mt-4">Tahun Masuk</label>
                                <div class="col-lg-9 mt-4">
                                  <div class="input-group m-input-group">
                                    <input type="number" class="form-control" id="" placeholder="Masukkan Tahun Masuk" readonly />
                                  </div>
                                </div>
                                  <!-- Tgl Keluar -->
                                  <label class="form-control-label col-lg-3 mt-4">Tahun Lulus</label>
                                  <div class="col-lg-9 mt-4">
                                    <div class="input-group m-input-group">
                                      <input type="number" class="form-control" id="" placeholder="Masukkan Tahun Lulus" readonly />
                                    </div>
                                  </div>
                                    <!-- Jurusan -->
                                    <label class="form-control-label col-lg-3 mt-4">Jurusan</label>
                                <div class="col-lg-9 mt-4">
                                  <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select m_selectpicker">
                                      <option>----Pilih Jurusan-----</option>
                                      <option>RPL</option>
                                      <option>MMD</option>
                                      <option>TBG</option>
                                      <option>HTL</option>
                                    </select>
                                  </div>
                                </div>
                                    <!-- Rayon -->
                                    <label class="form-control-label col-lg-3 mt-4">Rayon</label>
                                <div class="col-lg-9 mt-4">
                                  <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select m_selectpicker">
                                      <option>----Pilih Rayon-----</option>
                                      <option>Cicurug</option>
                                      <option>Cibedug</option>
                                      <option>Cibinong</option>
                                      <option>Cisarua</option>
                                    </select>
                                  </div>
                                </div>
                                  
                                  <!-- JK -->
                                  
                                    <label class="form-control-label col-lg-3 mt-4">Jenis Kelamin</label>
                                    <div class="col-lg-9 mt-4">
                                      <div class="m-radio-inline">
                                        <label class="m-radio m-radio--solid m-radio--primary">
                                          <input type="radio" name="status" value="1" checked>Laki-Laki
                                          <span></span>
                                        </label>
                                        <label class="m-radio m-radio--solid m-radio--primary">
                                          <input type="radio" name="status" value="2"> Perempuan
                                          <span></span>
                                        </label>
                                      </div>
                                    </div>
                                <!-- Alamat -->
                            
                                    <label class="form-control-label col-lg-3 mt-4">Alamat</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="text" class="form-control m-input" placeholder="">
                                    </div>
                                    <!-- Email -->	
                                  
                                    <label class="form-control-label col-lg-3 mt-4">Email</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="email" class="form-control m-input" placeholder="">
                                    </div>
                                    
                                    <!-- Nao telp -->
                                    <label class="form-control-label col-lg-3 mt-4">Nomor Telepon</label>
                                    <div class="col-lg-9 mt-4">
                                      <input type="number" class="form-control m-input" placeholder="">
                                    </div>
                                    
                                    <!-- stat -->
                                    <label class="form-control-label col-lg-3 mt-4">Status</label>
                                <div class="col-lg-9 mt-4">
                                  <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select m_selectpicker">
                                      <option>----Pilih Status-----</option>
                                      <option>Bekerja</option>
                                      <option>Kuliah</option>
                                      <option>Pengangguran</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                                  <!-- title
                                  <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Summary</label>
                                    <div class="col-lg-9">
                                      <div class="summernote" id="m_summernote_1"></div>
                                    </div>
                                  </div> -->
                                  <!-- Full Content-->
                                  <!-- <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Full Content</label>
                                    <div class="col-lg-9">
                                      <div class="summernote" id="m_summernote_1"></div>
                                    </div>
                                  </div> -->
                                  <!--Full Content-->
                                  <!-- <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Tag</label>
                                    <div class="col-lg-9">
                                      <input type="text" class="form-control m-input" placeholder="Tags">
                                      <span class="m-form__help">separate tags with commas','</span>
                                    </div>
                                  </div> -->
                                  <!-- title -->
                                  <!-- <div class="m-form__group form-group row">
                                    <label class="form-control-label col-lg-3">Lainnya</label>
                                    <div class="col-lg-9">
                                      <span class="m-switch m-switch--outline m-switch--icon m-switch--primary">
                                        <label>
                                          <input type="checkbox" name="" data-toggle="collapse" data-target="#advance-settings-id">
                                          <span></span>
                                        </label>
                                      </span>
                                    </div> 
                                  </div>	
                                </div>
                                <div class="m-form__section collapse" id="advance-settings-id" aria-expanded="false">
                                  <div class="m-form__heading">
                                    <h3 class="m-form__heading-title">Lainnya</h3>
                                  </div> -->
                                  <!-- <div class="form-group m-form__group row"> -->
                                      <!-- stat -->
                                      <!-- <label class="form-control-label col-lg-3 mt-4">Status</label>
                                      <div class="col-lg-9 mt-4">
                                        <div class="m-form__control">
                                          <select class="form-control m-bootstrap-select m_selectpicker">
                                            <option>----Pilih Status-----</option>
                                            <option>----</option>
                                            <option>----</option>
                                          </select>
                                        </div>
                                      </div>
                                  </div> -->
                                  <!-- Jenis -->
                                  <!-- <div class="form-group m-form__group row">
                                      <label class="form-control-label col-lg-3 mt-4">Jenis</label>
                                      <div class="col-lg-9 mt-4">
                                        <input type="text" class="form-control m-input" placeholder="">
                                      </div> -->
                                      <!-- Lokasi -->
                                      <!-- <label class="form-control-label col-lg-3 mt-4">Lokasi</label>
                                      <div class="col-lg-9 mt-4">
                                        <input type="text" class="form-control m-input" placeholder="">
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                          </div>
                          <div class="tab-pane" id="english_content">
                            
                                  
                                <div class="m-form__section collapse" id="advance-settings-eng" aria-expanded="false"> -->
  
                                  <!-- Meta Title-->
                                  <!-- <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Text Area Auto Size</label>
                                    <div class="col-lg-9">
                                      <textarea class="form-control" id="m_autosize_1" rows="3"></textarea>
                                    </div>
                                  </div> -->
                                  <!--Meta Description -->
                                  <!-- <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Meta Keyword</label>
                                    <div class="col-lg-9">
                                      <input type="text" class="form-control m-input" placeholder="Title Post">
                                      <span class="m-form__help">separate tags with commas','</span>
                                    </div>
                                  </div> -->
                                  <!--Meta Keyword-->
                                  <!-- <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                                  <div class="m-form__heading">
                                    <h3 class="m-form__heading-title">Schedule Setting</h3>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Date Range</label>
                                    <div class="col-lg-9">
                                      <div class="input-daterange input-group" id="m_datepicker_5">
                                        <input type="text" class="form-control m-input" name="start">
                                        <div class="input-group-append">
                                          <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="end">
                                      </div>
                                    </div> -->
                                  <!-- </div> -->
                                  <!--Date Range-->
                                  <!-- <div class="form-group m-form__group row">
                                    <label class="form-control-label col-lg-3">Action After</label>
                                    <div class="col-lg-9">
                                      <div class="m-radio-inline">
                                        <label class="m-radio m-radio--solid m-radio--primary">
                                          <input type="radio" name="action-after" value="1" checked> Draft
                                          <span></span>
                                        </label>
                                        <label class="m-radio m-radio--solid m-radio--primary">
                                          <input type="radio" name="action-after" value="2"> Unpublish
                                          <span></span>
                                        </label>
                                        <label class="m-radio m-radio--solid m-radio--primary">
                                          <input type="radio" name="action-after" value="3"> Delete
                                          <span></span>
                                        </label>
                                      </div>
                                    </div>
                                  </div>Check Radio
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                         -->
  
                      <!-- </div> -->
                      <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                          <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                              <div class="row">
                                <div class="col-lg-3 col-sm-12"></div>
                                <div class="col-lg-9">
                                  <div class="input-group file-input">
                                    <button type="submit" class="btn btn-danger btn-sm m-btn--pill m-btn--air m-btn--wide">Submit</button>
                                    <button type="reset" class="btn btn-secondary btn-sm m-btn--wide m-btn--pill m--margin-left-5">Cancel</button>		
                                  </div>
                                </div>
                              </div>
                            </div>
  
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!--End::Portlet-->
                </div>
              </div>
  
              <!--End::Section-->
  
            </div>
          </div>
        </div>
  
        <!-- end:: Body -->
  

			<!-- end:: Body -->

			<!-- begin::Footer -->
			<!-- <footer class="m-grid__item	m-footer ">
				<div class="m-container m-container--fluid m-container--full-height m-page__container">
					<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
						<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								2019 &copy; Devloped by <a href="https://www.4visionmedia.com" class="m-link">4 Vision Media</a>
							</span>
						</div>
						<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
							<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">About</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">Privacy</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">T&C</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">Purchase</span>
									</a>
								</li>
								<li class="m-nav__item m-nav__item">
									<a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
										<i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer> -->

			<!-- end::Footer -->
		<!-- </div> -->

		<!-- end:: Page -->


		<!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->

		<!--begin::Global Theme Bundle -->
		<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts -->
		<script src="assets/customize.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/autosize.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/crud/forms/widgets/bootstrap-daterangepicker.js" type="text/javascript"></script>
		<script src="assets/demo/default/custom/components/base/sweetalert2.js" type="text/javascript"></script>
		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>